<div class="container">
  <form
    action="https://formsubmit.co/23534ac42f82ca6652aa18159128f068"
    method="POST"
  >
    <div class="form-group">
      <div class="form-row">
        <div class="col">
          <input
            type="text"
            name="name"
            class="form-control"
            placeholder="Full Name"
            required
          />
        </div>
        <div class="col">
          <input
            type="email"
            name="email"
            class="form-control"
            placeholder="Email Address"
            required
          />
        </div>
      </div>
    </div>
    <div class="form-group">
      <textarea
        placeholder="Your Message"
        class="form-control"
        name="message"
        rows="10"
        required
      ></textarea>
    </div>
    <button type="submit" class="btn btn-lg btn-dark btn-block">Submit</button>
    <input type="text" name="_honey" style="display: none" />
    <input
      type="hidden"
      name="_next"
      value="https://Nilavan.github.io/thanks.html"
    />
  </form>
</div>
