<div id="hero" class="col">
  <div>
    <h2 id="hello" class="animated fadeIn" data-wow-delay=".1s">Hello! I am</h2>
    <h1 id="heading" class="animated fadeIn" data-wow-delay=".15s">
      Nilavan Akilan.
    </h1>
    <br />
    <h2
      id="subtitle"
      class="text-muted animated slideInUp"
      data-wow-delay=".4s"
    >
      MACHINE LEARNING ENGINEER,
    </h2>
    <h2
      id="subtitle"
      class="text-muted animated slideInUp"
      data-wow-delay=".5s"
    >
      DATA SCIENTIST
    </h2>
    <a
      class="btn btn-outline-primary mt-4 animated slideInUp"
      data-wow-delay=".6s"
      href="mailto:nilavanakilan2001@gmail.com"
    >
      <i class="fa fa-envelope"></i>
      &nbsp;Say hi!</a
    >
  </div>
</div>
<div id="about">
  <div class="m-3 wow animated slideInUp" data-wow-delay=".15s">
    <br /><br /><br />
    <h2>About Me</h2>
  </div>
  <div class="m-3 mt-4 wow animated slideInUp" data-wow-delay=".2s">
    <p>
      I'm a pre-final year CSE-Data Science student at VIT Vellore. As a result
      of my perpetual curiosity, I have practical experience with a wide range
      of technologies including:<br /><br />
    </p>
    <div class="row m-3">
      <ul class="col">
        <li>Python</li>
        <li>C/C++</li>
        <li>Java</li>
      </ul>
      <ul class="col">
        <li>HTML/CSS</li>
        <li>MySQL</li>
        <li>MongoDB</li>
      </ul>
      <ul class="col">
        <li>Scikit-Learn</li>
        <li>TensorFlow</li>
        <li>Keras</li>
      </ul>
      <ul class="col">
        <li>Flask</li>
        <li>OpenCV</li>
        <li>Pytorch</li>
      </ul>
    </div>
    <p>Which I use for:</p>
    <div class="row m-3">
      <ul class="col">
        <li>Data Science</li>
        <li>Machine Learning</li>
        <li>Computer Vision</li>
        <li>Data Visualization</li>
        <li>Web Development</li>
        <li>And more!</li>
      </ul>
    </div>
    <p>
      When I'm not working on something ML or data science, you can find me
      playing football, watching Formula 1 or singing and I'm always up for a
      game of Mario Kart!
    </p>
  </div>
</div>
<div id="featured-projects">
  <div class="m-3 wow animated slideInUp" data-wow-delay=".15s">
    <br /><br /><br />
    <h2>Latest Projects</h2>
  </div>
  <div class="card-columns m-3 mt-4">
    <!-- Local Projects -->
    {% for project in site.projects %} {%- if project.tools[-1] == "featured"
    -%} {%- assign project_type = "local" -%} {%- assign project_id =
    project.name | slugify -%} {%- assign project_img = project.image -%} {%-
    assign project_name = project.name -%} {%- assign project_desc =
    project.description -%} {%- assign project_tools = project.tools -%} {%- if
    project.external_url -%} {%- assign project_url = project.external_url -%}
    {%- else -%} {%- assign project_url = project.url | relative_url -%} {%-
    endif -%} {% include projects/project-card.html %} {%- endif -%} {% endfor
    %}
  </div>
  <p class="text-center">
    {% include elements/button.html link="/projects" text="See all" %}
  </p>
</div>
<div id="experience">
  <div class="m-3 wow animated slideInUp" data-wow-delay=".15s">
    <br /><br /><br />
    <h2>Experience</h2>
  </div>
  <div class="m-3 mt-4 wow animated slideInUp" data-wow-delay=".2s">
    {% include about/timeline.html %}
  </div>
</div>
<div id="contact">
  <div class="m-3 wow animated slideInUp" data-wow-delay=".15s">
    <br /><br /><br />
    <h2>Contact</h2>
  </div>
  <div class="m-3 mt-4 wow animated slideInUp" data-wow-delay=".2s">
    <p>
      Let's get in touch! If you want to discuss opportunities, collaboration,
      or just want to say hi, fill up the form and hit 'Submit'. I'll get back
      to you asap.
    </p>
    <br />
    {% include contact/index.html %}
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
  $(document).ready(function () {
    $("a").on("click", function (event) {
      if (this.hash !== "") {
        event.preventDefault();
        var hash = this.hash;
        $("html, body").animate(
          {
            scrollTop: $(hash).offset().top,
          },
          800,
          function () {
            window.location.hash = hash;
          }
        );
      }
    });
  });
</script>
