<nav class="navbar navbar-expand-lg navbar-themed sticky-top">
  <a class="navbar-brand" href="{{ site.baseurl }}/"
    ><h5><b>{{ site.title }}</b></h5></a
  >

  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <i class="fas fa-1x fa-bars text-themed"></i>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto">
      <a class="nav-item nav-link" href="{{ site.baseurl }}/#about">About</a>
      <a class="nav-item nav-link" href="{{ site.baseurl }}/#featured-projects"
        >Projects</a
      >
      <a class="nav-item nav-link" href="{{ site.baseurl }}/#experience"
        >Experience</a
      >
      <a class="nav-item nav-link" href="{{ site.baseurl }}/#contact"
        >Contact</a
      >
      <span
        id="theme-toggler"
        class="nav-item nav-link"
        role="button"
        onclick="toggleTheme()"
      ></span>
    </div>
  </div>
</nav>
